*{margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    padding: 15% 20%;
    align-items: center;
   
   
}
h1{
    text-align: center;
    color:aqua;
    font-style: italic;
    padding-top: 5%;
}
.m{
background-image: url("https://static.vecteezy.com/system/resources/thumbnails/003/123/185/small/saber-neon-glow-color-flowing-rectangle-background-free-photo.jpg");  
  background-repeat: no-repeat;
    background-position:center;
    background-size: 115%;
    border-style: solid;
    
}
.c1{
    text-align: center;
    padding-top: 10%;
}
.c2{
    text-align: center;
    padding-top: 5%;

}
#result{
text-align: center;
color: white;
background: transparent;
}
