*{margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width:100%;
    background: linear-gradient(45deg,#0a0a0a,#3a4452);
    align-items: center;
    justify-content: center;
    display: flex;
}
.container{
    border: 1px solid #717377;
    padding: 20px;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/003/123/185/small/saber-neon-glow-color-flowing-rectangle-background-free-photo.jpg"); 
    background-repeat: no-repeat;
    background-position:center;
    background-size: 115%;
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(113,115,119,1);
}
h1{
    text-align: center;
    color:aqua;
    font-style: italic;
    padding-top: 5%;
}
.c1{
    text-align: center;
    padding-top: 10%;
}
.c2{
    text-align: center;
    padding-top: 5%;

}
#result{
text-align: center;
color: white;
background: transparent;
}
